body{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Lato-Light;
	src: url(../assets/fonts/Lato-Light.ttf);
}

.foto-fondo-home{
	background-image: url(../assets/img/img-home.png);
	background-repeat: no-repeat;
	height: 100%;
}
.container-home{
	margin: 15%;
}
.img-farolito{
	text-align: center;
}

h3{
	font-family: "Lato-Light";
	 font-size: 29px;
  text-align: center;
  color: #3498db;
  margin: 10% auto;
}

p{
	font-family: "Lato-Light";
	text-align: center;
  color: gray;
  font-size: 20px;
}

.btn-perfil{
	width: 46%;
	background-color: coral;
	margin: 9% auto;
	border-radius: 15px;

	h4{
		color: white;
	  padding: 7%;
	  text-align: center;
	  font-size: 17px;
	}
}

.flecha{
	width: 6%;
  margin: 0 auto;
  position: absolute;
  left: 46%;
  top: 86%;
}

@font-face {
	font-family: Lato-Bold;
	src: url(../assets/fonts/Lato-Bold.ttf);
}
h1{
	color: #58C6E7;	
	text-align: center;
	font-family: "Lato-Bold";
}


.metodologia-texto h3{
	width: 51%;
	margin: 0 auto;
	color: black;

	span{
		color: coral;
	}
}
.comilla-izquierda{
	position: relative;		
	left: 21%;
}

.comilla-derecha{
	position: relative;
	right: -73%;
}

.circulo-evaluacion{
	height: 450px;
  width: 450px;
  border-radius: 50%;
  background-color: coral;
  border-style: dashed;
  border-color: white;
  position: absolute;
  left: 35%;

  .texto-ev-1{
  	margin: 0% auto;
	  padding: 15%;
	  color: white;
	  font-size: 28px;

 	}
  }

	.texto-ev-2{
	 	  margin: 0 auto;
  		color: white;

  }

  .row{
  	margin: 0 auto;
  }

.evaluacion{
	position: relative;
  margin: 3% auto;

}
  .evaluacion-cuadros{
  	margin-top: 16%;
  	padding: 2%;
  }

 	.texto-evaluacion{
 			font-family: "Lato-Bold";
 			color: coral;
  		margin: 0 auto;
 			width: 28%; 
 }

 .evaluacion p{
  margin: 5% auto;
  width: 46%;

 }

 .analisis{
 	margin: 0 auto;
 	width: 50%;
 }
 .texto-analisis{
 	margin: 0 auto;
 	font-family: "Lato-Bold";
 	color: coral;
 }

.btn-ver-mas{
	background-color: #58C6E7;
	width: 17%;
  margin: 7% auto;
  border-radius: 20px;

	h4{
		color: white;
		text-align: center;
	  padding: 8%;
	  font-size: 22px;
	}
}

.flecha-postulantes{
	position: absolute;
  left: 46%;
  top: -4%;

  img{
  	border-radius: 50%;
  }

}

.farolito-postulantes{
	background-color: #58C6E7;
	position: relative;

	p{
	color: white;
  font-size: 32px;
  margin: 2%;
	}

}

.texto-farolito{
	color: white;
	text-align: center;
	font-family: "Lato-Bold";
	padding-top: 7%;
  font-size: 40px;

}

.postulantes{

	padding: 4%;
}

.numero-1{
	padding-top: 1%;

	h1{
		color: white;
		font-size: 80px;
		text-align: right;
	}
}
.numero {
	padding-top: 10%;

	h1{  
	color: white;
	font-size: 80px;
	text-align: right;
  margin: 0;
}
}

.crea{
	h3{
	color: white;
	font-size: 35px;
	margin-right: 25%;
}
}

.texto{
	width: 43%;

	p{
		margin: 0 18%;
		font-size: 25px;
	}


}

.fila{
	padding-top: 3%;
}

.postula{
	padding-top: 12%;
	border-top-style: dashed;
	border-right-style: dashed;
	border-color: white;


	h3{
	width: 65%;
  margin: 0;
  color: white;
	}
}

.mejora{
	padding-top: 12%;
	border-top-style: dashed;
	border-right-style: dashed;
	border-color: white;

	h3{
	width: 70%;
  margin: 0;
  color: white;
	}
}

.imagen-fila-1{
	position: absolute;
	left: 43%;
	top: 31%;
	z-index: 10;

	img{
		border-radius: 50%;
	}

}

.imagen-fila-2{
	position: absolute;
	left: 43%;
	top: 52%;
	z-index: 10;

	img{
		border-radius: 50%;
	}
}

.imagen-fila-3{
	position: absolute;
	left: 43%;
	top: 71%;
	z-index: 10;

	img{

		border-radius: 50%;
	}
}


.fila-borde{
	height: 250px;
  border-right-style: dashed;
  border-color: white;
}

.btn-oportunidades{
	  text-align: center;
  background-color: #58C6E7;
  width: 23%;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid white;

  h4{
  	padding: 3%;
  	color: white;
  }

}

.farolito-empresas{
	position: relative;
}
.flecha-empresa{
		position: absolute;
		left: 47.5%;
		top: -34px;

		img{
			border-radius: 50%;
		}
	}

.texto-empresas{
	color: coral;
  text-align: center;
  font-family: "Lato-Bold";
  padding-top: 7%;
  font-size: 40px;
}

.contrata-talento{
	font-family: "Lato-Light";
  font-size: 29px;
  text-align: center;
  color: gray;
  margin: 3% auto;
}

.parrafo-empresas{
	width: 45%;
  margin: 0 auto;
  border-top-style: dashed;
  border-color: coral;
  padding: 2%;
}

.fila-empresa{
	padding: 3% 8%;
  text-align: center;

  h3{
  	color: gray;
  	font-family: "Lato-Bold";
  }

}

.btn-contactanos{
	  width: 20%;
  margin: 6% auto;
  text-align: center;
  background-color: coral;
  border-radius: 17px;

  h4{
  color: white;
  padding: 5%;
  font-size: 24px;
  }

}